{% extends 'base.dj.html' %}
{% load static %}

{% block title %}Todo App{% endblock title %}

{% block app-ressources %}
    <link rel="stylesheet" href="{% static 'todo/css/todo_style.css' %}">
{% endblock app-ressources %}

{% block content %}

    <p><a href="{% url 'index' %}">< Back to Index</a></p>

    <h1>Task list</h1>
    
    <p>Today is the {% now "Y-m-d H:i" %} - <a href="{% url 'task-create' %}">Create a new task</a></p>
    
    {% comment %} {% lorem 3 p random %} {% endcomment %}

    <ul>
        {% for t in task_list %}

            {% if t.name|length >= 7 %}

            <li><a href="{% url 'task-slug' t.slug %}">({{ t.id }}) {{ t.name }}</a> - 
                    {{ t.description|truncatechars:20 }} - {{ t.due_date|date:'d/m/Y' }}</li>
            {% endif %}

        {% endfor %}
    </ul>

{% endblock content %}